.filter {
  display: flex;
  flex-direction: row;
}

.col2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;

  width: auto;
  height: auto;
}

.col2 > select {
  background-color: #f5f5f5;
  color: #101010;
  font-size: 15px;
  font-family: inherit;

  padding: 4px 10px;
  border: 1px solid #101010;
  border-radius: 5px;
  margin-left: 10px;
}

.col2 > label {
  margin-left: 65px;
}

.col1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;

  width: auto;
  height: auto;
}

.col1 > select {
  background-color: #f5f5f5;
  color: #101010;
  font-size: 15px;
  font-family: inherit;

  padding: 4px 21px;
  border: 1px solid #101010;
  border-radius: 5px;
}

.col1 > label {
  margin-left: 47px;
}

.select:hover {
  background-color: #101010;
  border: 1px solid #f5f5f5;
  color: #f5f5f5;
  transition: background-color 0.3s;
}
