.page{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 9rem;
}
.create{
    width: fit-content;
    margin-left: 63rem;
}
.create button{
    width: fit-content;
    background-color: rgb(3, 3, 3);
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: medium;
    border: none;
    border-radius: .5rem;
    height: 2rem;
    cursor: pointer;
}