.container {
    margin-top:40px;
    margin-left: 460px;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 0.3rem;
    background-color: #e4ecea;
    border-radius: 1rem;
}

.cards {
    gap: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.description {
    margin-top:5px;
    display: grid;
    grid-template-columns: repeat(6, 1fr); /*Los pone en linea*/
    width: 230%;
    font-family: "Rubik", sans-serif;
    font-size: medium;
    margin-left:700px;
}

.crear_receta{
    border-radius: 1rem;
    margin-left:470px;
    background: #a6deb7;
    width: 4.6rem;
    height: 2.5rem;
    font-weight:700;
	
}

.crear_receta:hover{
    border-radius: 1rem;
    background: #67c787;
    width: 4.7rem;
    height: 2.6rem;
    font-weight:700;
	
}


