.navbar {
  height: 7rem;
  display: flex;
  flex-direction: row;
  background-color: #101010;
  justify-content: space-around;
  align-items: center;
  /* position: sticky;
  top: 0px; */
}

.logo {
  width: 5rem;
  height: 5rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  height: fit-content;
  gap: 2.5rem;
}

.buttons button {
  border: none;
  background: none;
  font-size: 17px;
  color: #f5f5f5;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}
