.register{
    display: flex;
    flex-direction: column;
    height: 57rem;
    overflow: hidden;
    position: relative;
    align-items: center;
}

.info{
    border-radius: 2rem;
    width: 60rem;
    height: 35rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    margin-top: 14rem;
    position: relative;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.329);
}

.image{
    border: 1px solid brown;
    border-radius: 2rem 0 0 2rem;
    height: 35rem;
    width: 16rem;
}

.data{
    height: 35rem;
    width: 44rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.data button{
    margin-top: 1.5rem;
    border-radius: .7rem;
    border: none;
    background: #FCAC03;
    color: white;
    width: 13rem;
    height: 2.5rem;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: medium;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inputs label{
    font-size: small;
}

.inputs input{
    width: 20.5rem;
    height: 1.7rem;
    background: #d9d9d9;
    opacity: 0.5;
    border-radius: 1rem;
    font-weight: bolder;
    padding-left: 1rem;
}