@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

.login {
    display: flex;
    flex-direction: column;
    height: 41rem;
    overflow: hidden;
    position: relative;
    align-items: center;

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("./image/background.jpeg");
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 14rem;
    gap: 1.5rem;

    position: relative;
    width: 36.3rem;
    height: 22.5rem;
    background: rgba(16, 16, 16, 0.8);
    border-radius: 10px;
}

.data button {
    color: white;
    width: 20rem;
    height: 2rem;
    background: #8f1414;
    font-weight: bolder;
    font-size: medium;
    border: none;
}

.data span {
    color: blue;
    margin-top: -1.5rem;
    margin-left: -12rem;
    font-size: small;
}
.inputData {
    width: 20.5rem;
    height: 2.3rem;
    background: #d9d9d9;
    opacity: 0.5;
    border-radius: 1rem;
    padding-left: 1rem;
    font-weight: bolder;
}

.checkbox{
    margin-left: -13rem;
    margin-top: -1rem;
    color: #FFFFFF;
    font-size: small;
}
