.btnContainer {
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: center;
  left: 10%;
  margin: auto;
  text-decoration: none;
  margin-top: 20px;
}

.btnContainer > button {
  background-color: rgb(3, 3, 3);
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: medium;
  border: none;
  border-radius: 0.5rem;
  height: 2rem;
  cursor: pointer;
  text-decoration: none;
}
